In [1]:
import json
import pandas as pd  
from pathlib import Path

In [2]:
data = json.load(open('/Users/isabelsmorrison/Personal/Data_Analytics_Bootcamp/Weekly_Assignments/Homework_14/Belly-Button-Challenge/samples.json', 'r'))
                      
df = pd.DataFrame(data)

In [3]:
df.head()

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."

In [4]:
df.iloc[1]["metadata"].keys()

dict_keys(['id', 'ethnicity', 'gender', 'age', 'location', 'bbtype', 'wfreq'])

In [5]:
df.iloc[1]["samples"].keys()

dict_keys(['id', 'otu_ids', 'sample_values', 'otu_labels'])

In [14]:
samples_data = list(df["samples"])
samples_df = pd.DataFrame.from_dict(samples_data)

In [15]:
samples_df.head()

,id,otu_ids,sample_values,otu_labels
0,940,"[1167, 2859, 482, 2264, 41, 1189, 352, 189, 23...","[163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37...",[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...
1,941,"[2722, 944, 2419, 2539, 3450, 1795, 2389, 1314...","[194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...
2,943,[1795],[2],[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...
3,944,"[922, 3555, 943, 1013, 1795, 944, 3368, 923, 1...","[278, 33, 19, 18, 11, 8, 7, 5, 5, 5, 4, 4, 4, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...
4,945,"[944, 1795, 922, 2419, 2859, 943, 2722, 1167, ...","[274, 141, 129, 110, 40, 37, 35, 32, 26, 20, 1...",[Bacteria;Actinobacteria;Actinobacteria;Actino...

In [6]:
#filepath = Path('/Users/isabelsmorrison/Personal/Data_Analytics_Bootcamp/Weekly_Assignments/Homework_14/Belly-Button-Challenge/samples.csv')  
#df.to_csv(filepath)